@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0b0b0b;
  color: white;
  font-family: system-ui, sans-serif;
}

.card {
  @apply bg-neutral-900 rounded-xl p-6 border border-neutral-800 hover:bg-neutral-800 transition;
}
